venv/
__pycache__/
*.pyc

dataset/
.ipynb_checkpoints/
yolov8n.pt
.DS_Store

runs/detect/predict/

runs/detect/train/train_batch*
runs/detect/train/val_batch*
runs/detect/train/labels.jpg

runs/detect/train/results.csv
runs/detect/train/results.png

runs/detect/train/confusion_matrix.png
runs/detect/train/confusion_matrix_normalized.png

runs/detect/train/Box*

runs/detect/train/weights/last.pt